 body {
  	background-image: url("../images/backgrounds/space.jpg"); /* done */
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    }

 .container {
 	margin-top: 70px;
 }

 .container button {
 	font-weight: bold;
 	font-style: italic;
 	font-size: 20px;
 	font-family: Arial;
 	color: red;
 }

 .modal-header > h4 {
	color:blue;
	margin: 0 auto;
	width:100px;
	font-weight: bold;
	font-style: italic;
	font-size: 30px;
}

.modal-footer button {
    width:200px; 
    margin-right: 50px;
    display: inline-block;
}

#phys_planet {
	border: 2px solid grey;
	border-radius: 5px;
    width:560px;
    height:400px;
    margin-top: 30px;
    
}

#phys_planet p  {
  padding-top: 10px;
  text-align: left;
  color: blue;
  line-height: 1px;
}

hr.new_style {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

 


